<div class="wrapper-modal-preview">
  <div class="overlay-modal-preview"></div>
  <div class="content-modal-preview">
    <p class="icon-closed">×</p>
    <div class="preview-img-modal">
      <img
        loading="lazy"
        src="{{ 'loading_bg.gif' | asset_url }}"
        alt="preview"
        width="100%"
        class="so-featured-image"
      >
    </div>
    <div class="action-modal">
      <p class="tos_warning checkout_button">
        <button
          type="submit"
          class="action_button add_to_cart"
          id="checkout"
          name="checkout"
        >
          Proceed To Checkout
          <div class="loading-checkout"></div>
        </button>
      </p>
    </div>
  </div>
</div>
