
{% if tags contains "shirt"%}
  <div class="js-btn-show-size-chart">
    <label class="toggle-modal-size-chart" for="toggle-modal-size-chart">
      <span>Size Chart</span>
    </label>
  </div>
{% endif %}
