<div class="four columns medium-down--one-whole">
   <div class="filter-sorter-mobile hidden-xl">
      <p class="filter-sorter-icon">
         <svg width="18" height="18" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> 
            <rect x="2.01758" y="0.25" width="22.5" height="2.5" rx="1.25" transform="rotate(45 2.01758 0.25)"></rect> 
            <rect width="22.5" height="2.5" rx="1.25" transform="matrix(-0.707107 0.707107 0.707107 0.707107 16.1602 0.25)"></rect>
         </svg>
      </p>
      <p class="sub-title">Filters</p>
      <p class="clear-filters">Clear All</p>
    </div>
  <div class="filter-sorter-wrapper">
    <div class="filter-sorter-btn hidden-xs">
      <p>Filters</p>
    </div>
    <label class="title-sort">Price (USD)<span></span></label>
    <div class="tag-selectable-wrapper" id="price-filter" data-collection="price-filter">
      <p class="card-excerpt" id="excerpt">
        &nbsp;
        <span class="animated-bg animated-bg-text">&nbsp;</span>
        <span class="animated-bg animated-bg-text">&nbsp;</span>
        <span class="animated-bg animated-bg-text">&nbsp;</span>
      </p>
    </div>
    <label class="title-sort">Occasion<span></span></label>
    <div class="tag-selectable-wrapper" id="occasion-filter" data-collection="occasion-filter">
      <p class="card-excerpt" id="excerpt">
        &nbsp;
        <span class="animated-bg animated-bg-text">&nbsp;</span>
        <span class="animated-bg animated-bg-text">&nbsp;</span>
        <span class="animated-bg animated-bg-text">&nbsp;</span>
      </p>
    </div>
    <label class="title-sort">Recipient<span></span></label>
    <div class="tag-selectable-wrapper" id="recipient-filter" data-collection="recipient-filter">
      <p class="card-excerpt" id="excerpt">
        &nbsp;
        <span class="animated-bg animated-bg-text">&nbsp;</span>
        <span class="animated-bg animated-bg-text">&nbsp;</span>
        <span class="animated-bg animated-bg-text">&nbsp;</span>
      </p>
    </div>
    <label class="title-sort">Product Type<span></span></label>
    <div class="tag-selectable-wrapper" id="product-type-filter" data-collection="product-type-filter">
      <p class="card-excerpt" id="excerpt">
        &nbsp;
        <span class="animated-bg animated-bg-text">&nbsp;</span>
        <span class="animated-bg animated-bg-text">&nbsp;</span>
        <span class="animated-bg animated-bg-text">&nbsp;</span>
      </p>
    </div>
  </div>
</div>
<div class="bg-wapper-sort"></div>

