<div class="modal-size-chart comfort-tee">
    <input id="toggle-modal-size-chart" type="checkbox">
    <label class="overlay-size-chart" for="toggle-modal-size-chart"></label>
    <div class="custom-size-chart">
        <div class="header-modal">
            <h4>Classic Unisex T Shirt Comfort Colors 1717 <br /> (MADE IN US)</h4>
            <label for="toggle-modal-size-chart" class="js-close">✕</label>
        </div>
        <div class="content-modal">
            <div id="page-size-chart">
                <div class="wrapper-table">
                    <table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" cellpadding="0" dir="ltr" border="1"
                        data-sheets-root="1" data-mce-fragment="1">
                        <colgroup data-mce-fragment="1">
                            <col width="135" data-mce-fragment="1">
                            <col width="100" data-mce-fragment="1">
                            <col width="100" data-mce-fragment="1">
                            <col width="100" data-mce-fragment="1">
                            <col width="100" data-mce-fragment="1">
                            <col width="100" data-mce-fragment="1">
                            <col width="100" data-mce-fragment="1">
                        </colgroup>
                        <tbody data-mce-fragment="1">
                            <tr data-mce-fragment="1">
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;SIZE&quot;}"
                                    data-mce-fragment="1">
                                    <div style="text-align: center;">SIZE</div>
                                </td>
                                <td rowspan="1" colspan="2"
                                    data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;WIDTH&quot;}"
                                    style="text-align: center;" data-mce-fragment="1">
                                    <div>WIDTH</div>
                                </td>
                                <td rowspan="1" colspan="2"
                                    data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;LENGTH&quot;}"
                                    style="text-align: center;" data-mce-fragment="1">
                                    <div>LENGTH</div>
                                </td>
                                <td rowspan="1" colspan="2"
                                    data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;SLEEVE CENTER BACK&quot;}"
                                    style="text-align: center;" data-mce-fragment="1">
                                    <div>SLEEVE CENTER BACK</div>
                                </td>
                            </tr>
                            <tr style="text-align: center;" data-mce-fragment="1">
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Unit&quot;}"
                                    data-mce-fragment="1">
                                    <div>Unit</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Inch&quot;}"
                                    data-mce-fragment="1">
                                    <div>Inch</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Cm&quot;}"
                                    data-mce-fragment="1">
                                    <div>Cm</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Inch&quot;}"
                                    data-mce-fragment="1">
                                    <div>Inch</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Cm&quot;}"
                                    data-mce-fragment="1">
                                    <div>Cm</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Inch&quot;}"
                                    data-mce-fragment="1">
                                    <div>Inch</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Cm&quot;}"
                                    data-mce-fragment="1">
                                    <div>Cm</div>
                                </td>
                            </tr>
                            <tr style="text-align: center;" data-mce-fragment="1">
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;S&quot;}"
                                    data-mce-fragment="1">
                                    <div>S</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;18.25&quot;}"
                                    data-mce-fragment="1">
                                    <div>18.25</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;46.3&quot;}"
                                    data-mce-fragment="1">
                                    <div>46.3</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26.62&quot;}"
                                    data-mce-fragment="1">
                                    <div>26.62</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;67.6&quot;}"
                                    data-mce-fragment="1">
                                    <div>67.6</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;16.25&quot;}"
                                    data-mce-fragment="1">
                                    <div>16.25</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;41.3&quot;}"
                                    data-mce-fragment="1">
                                    <div>41.3</div>
                                </td>
                            </tr>
                            <tr style="text-align: center;" data-mce-fragment="1">
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;M&quot;}"
                                    data-mce-fragment="1">
                                    <div>M</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;20.25&quot;}"
                                    data-mce-fragment="1">
                                    <div>20.25</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;51.4&quot;}"
                                    data-mce-fragment="1">
                                    <div>51.4</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:28}" data-mce-fragment="1">
                                    <div>28</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;71.1&quot;}"
                                    data-mce-fragment="1">
                                    <div>71.1</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;17.75&quot;}"
                                    data-mce-fragment="1">
                                    <div>17.75</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;45.1&quot;}"
                                    data-mce-fragment="1">
                                    <div>45.1</div>
                                </td>
                            </tr>
                            <tr style="text-align: center;" data-mce-fragment="1">
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;L&quot;}"
                                    data-mce-fragment="1">
                                    <div>L</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:22}" data-mce-fragment="1">
                                    <div>22</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;55.9&quot;}"
                                    data-mce-fragment="1">
                                    <div>55.9</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29.37&quot;}"
                                    data-mce-fragment="1">
                                    <div>29.37</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;74.6&quot;}"
                                    data-mce-fragment="1">
                                    <div>74.6</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:19}" data-mce-fragment="1">
                                    <div>19</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;48.3&quot;}"
                                    data-mce-fragment="1">
                                    <div>48.3</div>
                                </td>
                            </tr>
                            <tr style="text-align: center;" data-mce-fragment="1">
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;XL&quot;}"
                                    data-mce-fragment="1">
                                    <div>XL</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:24}" data-mce-fragment="1">
                                    <div>24</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:61}" data-mce-fragment="1">
                                    <div>61</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30.75&quot;}"
                                    data-mce-fragment="1">
                                    <div>30.75</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;78.1&quot;}"
                                    data-mce-fragment="1">
                                    <div>78.1</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:45066}"
                                    data-sheets-numberformat="{&quot;1&quot;:5,&quot;2&quot;:&quot;d.m&quot;,&quot;3&quot;:1}"
                                    data-mce-fragment="1">
                                    <div>20.5</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;52.1&quot;}"
                                    data-mce-fragment="1">
                                    <div>52.1</div>
                                </td>
                            </tr>
                            <tr style="text-align: center;" data-mce-fragment="1">
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;2XL&quot;}"
                                    data-mce-fragment="1">
                                    <div>2XL</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:26}" data-mce-fragment="1">
                                    <div>26</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:66}" data-mce-fragment="1">
                                    <div>66</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;31.62&quot;}"
                                    data-mce-fragment="1">
                                    <div>31.62</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;80.3&quot;}"
                                    data-mce-fragment="1">
                                    <div>80.3</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;21.75&quot;}"
                                    data-mce-fragment="1">
                                    <div>21.75</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;55.2&quot;}"
                                    data-mce-fragment="1">
                                    <div>55.2</div>
                                </td>
                            </tr>
                            <tr style="text-align: center;" data-mce-fragment="1">
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;3XL&quot;}"
                                    data-mce-fragment="1">
                                    <div>3XL</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27.75&quot;}"
                                    data-mce-fragment="1">
                                    <div>27.75</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;70.5&quot;}"
                                    data-mce-fragment="1">
                                    <div>70.5</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;32.5&quot;}"
                                    data-mce-fragment="1">
                                    <div>32.5</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;82.5&quot;}"
                                    data-mce-fragment="1">
                                    <div>82.5</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;23.25&quot;}"
                                    data-mce-fragment="1">
                                    <div>23.25</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:59}" data-mce-fragment="1">
                                    <div>59</div>
                                </td>
                            </tr>
                            <tr data-mce-fragment="1">
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;4XL&quot;}"
                                    style="text-align: center;" data-mce-fragment="1">
                                    <div>4XL</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29.75&quot;}"
                                    style="text-align: center;" data-mce-fragment="1">
                                    <div>29.75</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;75.5&quot;}"
                                    style="text-align: center;" data-mce-fragment="1">
                                    <div>75.5</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;33.5&quot;}"
                                    style="text-align: center;" data-mce-fragment="1">
                                    <div>33.5</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;85.1&quot;}"
                                    style="text-align: center;" data-mce-fragment="1">
                                    <div>85.1</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;24.62&quot;}"
                                    style="text-align: center;" data-mce-fragment="1">
                                    <div>24.62</div>
                                </td>
                                <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;62.5&quot;}"
                                    data-mce-fragment="1">
                                    <div style="text-align: center;">62.5</div>
                                </td>
                            </tr>
                        </tbody>

                    </table>                  
                </div>
                <img src="{{ 'size-chart-comfort-shirt.svg' | asset_url }}" alt="comfort tee" class="img-size-chart"/>
                <p class="sub-content text-center">Due to manual measurement, there will be an error of 1-3cm</p>
            </div>
        </div>
    </div>
</div>