<div class="modal-size-chart">
    <input id="toggle-modal-size-chart" type="checkbox">
    <label class="overlay-size-chart" for="toggle-modal-size-chart"></label>
    <div class="custom-size-chart">
      <div class="header-modal">
        <h4>Apparels Size Chart</h4>
        <label for="toggle-modal-size-chart" class="js-close">✕</label>
      </div>
      <div class="content-modal">
        <div id="page-size-chart" class="apparels">
          <div class="container">
            <div class="wrapper-table box-size-body">
              <p>There might be ±1.5 inches difference due to manual measurement and production processes</p>
              <img
                style="width: 100%;"
                src="https://cdn.shopify.com/s/files/1/0499/6379/4592/files/frame_05-2022_600x435.png?v=1633507233"
                alt=""

              ><br>
              <p class="border-bottom">Chest- Measured across the chest one inch below armhole when laid flat.</p>
              <p class="border-bottom">Bust- Measured one inch below armhole.</p>
              <p>Body Length- Measured from high point of shoulder from the back.</p>
            </div>
            <div class="toggle-data-chart">
              <div class="btn-size-chart in is-active">inches</div>
              <div class="btn-size-chart cm">cm</div>
            </div>
            <div class="wrapper-table">
              <table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" cellpadding="0" dir="ltr" border="1">
                <colgroup>
                  <col width="100">
                  <col width="134">
                  <col width="120">
                  <col width="122">
                  <col width="129">
                </colgroup>
                <tbody>
                  <tr style="text-align: center;">
                    <td
                      rowspan="1"
                      colspan="5"
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Classic Tee&quot;}"
                    >
                      <div>Classic Tee, Long Sleeve Tee</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td rowspan="2" colspan="1" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Size&quot;}">
                      <div>Size</div>
                    </td>
                    <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;USA&quot;}">
                      <div>USA</div>
                    </td>
                    <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;EU&quot;}">
                      <div>EU</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chest (Front Only)&quot;}">
                      <div>Chest (Front Only)</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length &quot;}">
                      <div>Body Length</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chest (Front Only)&quot;}">
                      <div>Chest (Front Only)</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length &quot;}">
                      <div>Body Length</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;S&quot;}">
                      <div>S</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;18 in&quot;}">
                      <div class="data-size-chart">18 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;20 in&quot;}">
                      <div class="data-size-chart">20 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27 in&quot;}">
                      <div class="data-size-chart">27 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;M&quot;}">
                      <div>M</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;20 in&quot;}">
                      <div class="data-size-chart">20 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29 in&quot;}">
                      <div class="data-size-chart">29 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;21 in&quot;}">
                      <div class="data-size-chart">21 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;L&quot;}">
                      <div>L</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;22 in&quot;}">
                      <div class="data-size-chart">22 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;22 in&quot;}">
                      <div class="data-size-chart">22 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29 in&quot;}">
                      <div class="data-size-chart">29 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;XL&quot;}">
                      <div>XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;24 in&quot;}">
                      <div class="data-size-chart">24 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;31 in&quot;}">
                      <div class="data-size-chart">31 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;23 in&quot;}">
                      <div class="data-size-chart">23 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;2XL&quot;}">
                      <div>2XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26 in&quot;}">
                      <div class="data-size-chart">26 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;32 in&quot;}">
                      <div class="data-size-chart">32 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;24 in&quot;}">
                      <div class="data-size-chart">24 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;3XL&quot;}">
                      <div>3XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;33 in&quot;}">
                      <div class="data-size-chart">33 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;25 in&quot;}">
                      <div class="data-size-chart">25 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;31 in&quot;}">
                      <div class="data-size-chart">31 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;4XL&quot;}">
                      <div>4XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;34 in&quot;}">
                      <div class="data-size-chart">34 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27 in&quot;}">
                      <div class="data-size-chart">27 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;33 in&quot;}">
                      <div class="data-size-chart">33 in</div>
                    </td>
                  </tr>
                  <tr>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;5XL&quot;}" style="text-align: center;">
                      <div>5XL</div>
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;32 in&quot;}"
                      style="text-align: center;"
                    >
                      <div class="data-size-chart">32 in</div>
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;35 in&quot;}"
                      style="text-align: center;"
                    >
                      <div class="data-size-chart">35 in</div>
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}"
                      style="text-align: center;"
                    >
                      <div class="data-size-chart">28 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;34 in&quot;}">
                      <div style="text-align: center;" class="data-size-chart">34 in</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="toggle-data-chart">
              <div class="btn-size-chart in is-active">inches</div>
              <div class="btn-size-chart cm">cm</div>
            </div>
            <div class="wrapper-table">
              <table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" cellpadding="0" dir="ltr" border="1">
                <colgroup>
                  <col width="100">
                  <col width="134">
                  <col width="120">
                  <col width="122">
                  <col width="129">
                </colgroup>
                <tbody>
                  <tr>
                    <td
                      rowspan="1"
                      colspan="5"
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Pullover Hoodie&quot;}"
                    >
                      <div style="text-align: center;">Pullover Hoodie</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td rowspan="2" colspan="1" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Size&quot;}">
                      <div>Size</div>
                    </td>
                    <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;USA&quot;}">
                      <div>USA</div>
                    </td>
                    <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;EU&quot;}">
                      <div>EU</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chest (Front Only)&quot;}">
                      <div>Chest (Front Only)</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length &quot;}">
                      <div>Body Length</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chest (Front Only)&quot;}">
                      <div>Chest (Front Only)</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length &quot;}">
                      <div>Body Length</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;S&quot;}">
                      <div>S</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;20 in&quot;}">
                      <div class="data-size-chart">20 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26 in&quot;}">
                      <div class="data-size-chart">26 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;20 in&quot;}">
                      <div class="data-size-chart">20 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26 in&quot;}">
                      <div class="data-size-chart">26 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;M&quot;}">
                      <div>M</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;22 in&quot;}">
                      <div class="data-size-chart">22 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27 in&quot;}">
                      <div class="data-size-chart">27 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;21 in&quot;}">
                      <div class="data-size-chart">21 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27 in&quot;}">
                      <div class="data-size-chart">27 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;L&quot;}">
                      <div>L</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;24 in&quot;}">
                      <div class="data-size-chart">24 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;22 in&quot;}">
                      <div class="data-size-chart">22 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27 in&quot;}">
                      <div class="data-size-chart">27 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;XL&quot;}">
                      <div>XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26 in&quot;}">
                      <div class="data-size-chart">26 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29 in&quot;}">
                      <div class="data-size-chart">29 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;23 in&quot;}">
                      <div class="data-size-chart">23 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;2XL&quot;}">
                      <div>2XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;25 in&quot;}">
                      <div class="data-size-chart">25 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;3XL&quot;}">
                      <div>3XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26 in&quot;}">
                      <div class="data-size-chart">26 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29 in&quot;}">
                      <div class="data-size-chart">29 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;4XL&quot;}">
                      <div>4XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;32 in&quot;}">
                      <div class="data-size-chart">32 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;31 in&quot;}">
                      <div class="data-size-chart">31 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27 in&quot;}">
                      <div class="data-size-chart">27 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29 in&quot;}">
                      <div class="data-size-chart">29 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;5XL&quot;}">
                      <div>5XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;34 in&quot;}">
                      <div class="data-size-chart">34 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;33 in&quot;}">
                      <div class="data-size-chart">33 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;34 in&quot;}">
                      <div class="data-size-chart">34 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;34 in&quot;}">
                      <div class="data-size-chart">34 in</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="toggle-data-chart">
              <div class="btn-size-chart in is-active">inches</div>
              <div class="btn-size-chart cm">cm</div>
            </div>
            <div class="wrapper-table">
              <table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" cellpadding="0" dir="ltr" border="1">
                <colgroup>
                  <col width="100">
                  <col width="134">
                  <col width="120">
                  <col width="122">
                  <col width="129">
                </colgroup>
                <tbody>
                  <tr>
                    <td
                      rowspan="1"
                      colspan="5"
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Sweatshirt&quot;}"
                    >
                      <div style="text-align: center;">Sweatshirt</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td rowspan="2" colspan="1" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Size&quot;}">
                      <div>Size</div>
                    </td>
                    <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;USA&quot;}">
                      <div>USA</div>
                    </td>
                    <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;EU&quot;}">
                      <div>EU</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chest (Front Only)&quot;}">
                      <div>Chest (Front Only)</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length &quot;}">
                      <div>Body Length</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chest (Front Only)&quot;}">
                      <div>Chest (Front Only)</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length &quot;}">
                      <div>Body Length</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;S&quot;}">
                      <div>S</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;20 in&quot;}">
                      <div class="data-size-chart">20 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26 in&quot;}">
                      <div class="data-size-chart">26 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;20 in&quot;}">
                      <div class="data-size-chart">20 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26 in&quot;}">
                      <div class="data-size-chart">26 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;M&quot;}">
                      <div>M</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;22 in&quot;}">
                      <div class="data-size-chart">22 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27 in&quot;}">
                      <div class="data-size-chart">27 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;22 in&quot;}">
                      <div class="data-size-chart">22 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27 in&quot;}">
                      <div class="data-size-chart">27 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;L&quot;}">
                      <div>L</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;24 in&quot;}">
                      <div class="data-size-chart">24 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;24 in&quot;}">
                      <div class="data-size-chart">24 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;XL&quot;}">
                      <div>XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26 in&quot;}">
                      <div class="data-size-chart">26 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29 in&quot;}">
                      <div class="data-size-chart">29 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26 in&quot;}">
                      <div class="data-size-chart">26 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29 in&quot;}">
                      <div class="data-size-chart">29 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;2XL&quot;}">
                      <div>2XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;3XL&quot;}">
                      <div>3XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30 in&quot;}">
                      <div class="data-size-chart">30 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;32 in&quot;}">
                      <div class="data-size-chart">32 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;4XL&quot;}">
                      <div>4XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;32 in&quot;}">
                      <div class="data-size-chart">32 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;31 in&quot;}">
                      <div class="data-size-chart">31 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;-&quot;}">
                      <div>-</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;-&quot;}">
                      <div>-</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;5XL&quot;}">
                      <div>5XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;34 in&quot;}">
                      <div class="data-size-chart">34 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;33 in&quot;}">
                      <div class="data-size-chart">33 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;-&quot;}">
                      <div>-</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;-&quot;}">
                      <div>-</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="toggle-data-chart">
              <div class="btn-size-chart in is-active">inches</div>
              <div class="btn-size-chart cm">cm</div>
            </div>
            <div class="wrapper-table">
              <table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" cellpadding="0" dir="ltr" border="1">
                <colgroup>
                  <col width="100">
                  <col width="134">
                  <col width="120">
                  <col width="122">
                  <col width="129">
                </colgroup>
                <tbody>
                  <tr>
                    <td
                      rowspan="1"
                      colspan="5"
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Youth Tee&quot;}"
                    >
                      <div style="text-align: center;">Youth Tee</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td rowspan="2" colspan="1" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Size&quot;}">
                      <div>Size</div>
                    </td>
                    <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;USA&quot;}">
                      <div>USA</div>
                    </td>
                    <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;EU&quot;}">
                      <div>EU</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chest (Front Only)&quot;}">
                      <div>Chest (Front Only)</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length &quot;}">
                      <div>Body Length</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chest (Front Only)&quot;}">
                      <div>Chest (Front Only)</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length &quot;}">
                      <div>Body Length</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YXS&quot;}">
                      <div>YXS</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;16 in&quot;}">
                      <div class="data-size-chart">16 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;20.5 in&quot;}">
                      <div class="data-size-chart">20.5 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;13 in&quot;}">
                      <div class="data-size-chart">13 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;17 in&quot;}">
                      <div class="data-size-chart">17 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YS&quot;}">
                      <div>YS</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;17 in&quot;}">
                      <div class="data-size-chart">17 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;22 in&quot;}">
                      <div class="data-size-chart">22 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;14 in&quot;}">
                      <div class="data-size-chart">14 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;18 in&quot;}">
                      <div class="data-size-chart">18 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YM&quot;}">
                      <div>YM</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;19 in&quot;}">
                      <div class="data-size-chart">19 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;23.5 in&quot;}">
                      <div class="data-size-chart">23.5 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;16 in&quot;}">
                      <div class="data-size-chart">16 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;20 in&quot;}">
                      <div class="data-size-chart">20 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YL&quot;}">
                      <div>YL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;20 in&quot;}">
                      <div class="data-size-chart">20 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;25 in&quot;}">
                      <div class="data-size-chart">25 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;17 in&quot;}">
                      <div class="data-size-chart">17 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;21 in&quot;}">
                      <div class="data-size-chart">21 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YXL&quot;}">
                      <div>YXL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;21 in&quot;}">
                      <div class="data-size-chart">21 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26.5 in&quot;}">
                      <div class="data-size-chart">26.5 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;18 in&quot;}">
                      <div class="data-size-chart">18 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;23 in&quot;}">
                      <div class="data-size-chart">23 in</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="toggle-data-chart">
              <div class="btn-size-chart in is-active">inches</div>
              <div class="btn-size-chart cm">cm</div>
            </div>
            <div class="wrapper-table">
              <table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" cellpadding="0" dir="ltr" border="1">
                <colgroup>
                  <col width="100">
                  <col width="134">
                  <col width="120">
                  <col width="122">
                  <col width="129">
                </colgroup>
                <tbody>
                  <tr>
                    <td
                      rowspan="1"
                      colspan="5"
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Women Tee&quot;}"
                    >
                      <div style="text-align: center;">Women Tee</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td rowspan="2" colspan="1" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Size&quot;}">
                      <div>Size</div>
                    </td>
                    <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;USA&quot;}">
                      <div>USA</div>
                    </td>
                    <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;EU&quot;}">
                      <div>EU</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Bust (Front Only)&quot;}">
                      <div>Bust (Front Only)</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length &quot;}">
                      <div>Body Length</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Bust (Front Only)&quot;}">
                      <div>Bust (Front Only)</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length &quot;}">
                      <div>Body Length</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;S&quot;}">
                      <div>S</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;17.25 in&quot;}">
                      <div class="data-size-chart">17.25 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;25.5 in&quot;}">
                      <div class="data-size-chart">25.5 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;16 in&quot;}">
                      <div class="data-size-chart">16 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;25 in&quot;}">
                      <div class="data-size-chart">25 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;M&quot;}">
                      <div>M</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;19.25 in&quot;}">
                      <div class="data-size-chart">19.25 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26 in&quot;}">
                      <div class="data-size-chart">26 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;17 in&quot;}">
                      <div class="data-size-chart">17 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26 in&quot;}">
                      <div class="data-size-chart">26 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;L&quot;}">
                      <div>L</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;21.25 in&quot;}">
                      <div class="data-size-chart">21.25 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27 in&quot;}">
                      <div class="data-size-chart">27 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;18 in&quot;}">
                      <div class="data-size-chart">18 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27 in&quot;}">
                      <div class="data-size-chart">27 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;XL&quot;}">
                      <div>XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;23.25 in&quot;}">
                      <div class="data-size-chart">23.25 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;20 in&quot;}">
                      <div class="data-size-chart">20 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;2XL&quot;}">
                      <div>2XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;25.25 in&quot;}">
                      <div class="data-size-chart">25.25 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28.5 in&quot;}">
                      <div class="data-size-chart">28.5 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;22 in&quot;}">
                      <div class="data-size-chart">22 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">28 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;3XL&quot;}">
                      <div>3XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27.25 in&quot;}">
                      <div class="data-size-chart">27.25 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29 in&quot;}">
                      <div class="data-size-chart">29 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;-&quot;}">
                      <div>-</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;-&quot;}">
                      <div>-</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="toggle-data-chart">
              <div class="btn-size-chart in is-active">inches</div>
              <div class="btn-size-chart cm">cm</div>
            </div>
            <div class="wrapper-table">
              <table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" cellpadding="0" dir="ltr" border="1">
                <colgroup>
                  <col width="100">
                  <col width="134">
                  <col width="120">
                </colgroup>
                <tbody>
                  <tr>
                    <td
                      rowspan="1"
                      colspan="3"
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Women's Racerback Tank&quot;}"
                    >
                      <div style="text-align: center;">Women's Racerback Tank</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td rowspan="2" colspan="1" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Size&quot;}">
                      <div>Size</div>
                    </td>
                    <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;USA&quot;}">
                      <div>USA</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chest (Front Only)&quot;}">
                      <div>Chest (Front Only)</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length &quot;}">
                      <div>Body Length</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;S&quot;}">
                      <div>S</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;14 in&quot;}">
                      <div class="data-size-chart">15.875 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27 in&quot;}">
                      <div class="data-size-chart">19.25 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;M&quot;}">
                      <div>M</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;15 in&quot;}">
                      <div class="data-size-chart">16.5 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27.5 in&quot;}">
                      <div class="data-size-chart">19.75 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;L&quot;}">
                      <div>L</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;16 in&quot;}">
                      <div class="data-size-chart">17.375 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28 in&quot;}">
                      <div class="data-size-chart">20.375 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;XL&quot;}">
                      <div>XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;17 in&quot;}">
                      <div class="data-size-chart">18.25 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28.5 in&quot;}">
                      <div class="data-size-chart">21 in</div>
                    </td>
                  </tr>
                  <tr style="text-align: center;">
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;2XL&quot;}">
                      <div>2XL</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;18 in&quot;}">
                      <div class="data-size-chart">19.125 in</div>
                    </td>
                    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29 in&quot;}">
                      <div class="data-size-chart">21.625 in</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="toggle-data-chart">
              <div class="btn-size-chart in is-active">inches</div>
              <div class="btn-size-chart cm">cm</div>
            </div>
            <div class="wrapper-table">
              <table
                xmlns="http://www.w3.org/1999/xhtml"
                cellspacing="0"
                cellpadding="0"
                dir="ltr"
                border="1"
                data-mce-fragment="1"
              >
                <colgroup data-mce-fragment="1">
                  <col width="100" data-mce-fragment="1">
                  <col width="127" data-mce-fragment="1">
                  <col width="100" data-mce-fragment="1">
                </colgroup>
                <tbody data-mce-fragment="1">
                  <tr data-mce-fragment="1">
                    <td
                      rowspan="1"
                      colspan="3"
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Youth Sweatshirt&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      Youth Sweatshirt
                    </td>
                  </tr>
                  <tr data-mce-fragment="1">
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Size&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      Size
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chest (Front Only)&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      Chest (Front Only)
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      Body Length
                    </td>
                  </tr>
                  <tr data-mce-fragment="1">
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YXS&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      YXS
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:14}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      14 in
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:17}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      17 in
                    </td>
                  </tr>
                  <tr data-mce-fragment="1">
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YS&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      YS
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:16}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      16 in
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:45065}"
                      data-sheets-numberformat="{&quot;1&quot;:5,&quot;2&quot;:&quot;d.m&quot;,&quot;3&quot;:1}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      19.5 in
                    </td>
                  </tr>
                  <tr data-mce-fragment="1">
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YM&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      YM
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:17}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      17 in
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:22}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      22 in
                    </td>
                  </tr>
                  <tr data-mce-fragment="1">
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YL&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      YL
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:18}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      18 in
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:24}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      24 in
                    </td>
                  </tr>
                  <tr data-mce-fragment="1">
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YXL&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      YXL
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:20}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      20 in
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:45071}"
                      data-sheets-numberformat="{&quot;1&quot;:5,&quot;2&quot;:&quot;d.m&quot;,&quot;3&quot;:1}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      25.5 in
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="toggle-data-chart">
              <div class="btn-size-chart in is-active">inches</div>
              <div class="btn-size-chart cm">cm</div>
            </div>
            <div class="wrapper-table">
              <table
                xmlns="http://www.w3.org/1999/xhtml"
                cellspacing="0"
                cellpadding="0"
                dir="ltr"
                border="1"
                data-mce-fragment="1"
              >
                <colgroup data-mce-fragment="1">
                  <col width="100" data-mce-fragment="1">
                  <col width="127" data-mce-fragment="1">
                  <col width="100" data-mce-fragment="1">
                </colgroup>
                <tbody data-mce-fragment="1">
                  <tr data-mce-fragment="1">
                    <td
                      rowspan="1"
                      colspan="3"
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Youth Hoodie&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      Youth Hoodie
                    </td>
                  </tr>
                  <tr data-mce-fragment="1">
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Size&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      Size
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chest (Front Only)&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      Chest (Front Only)
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Body Length&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      Body Length
                    </td>
                  </tr>
                  <tr data-mce-fragment="1">
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YS&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      YS
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:17}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      17 in
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;21.25&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      21.25 in
                    </td>
                  </tr>
                  <tr data-mce-fragment="1">
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YM&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      YM
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:18}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      18 in
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:45068}"
                      data-sheets-numberformat="{&quot;1&quot;:5,&quot;2&quot;:&quot;d.m&quot;,&quot;3&quot;:1}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      22.5 in
                    </td>
                  </tr>
                  <tr data-mce-fragment="1">
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YL&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      YL
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:19}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      19 in
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:24}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      24 in
                    </td>
                  </tr>
                  <tr data-mce-fragment="1">
                    <td
                      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;YXL&quot;}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                    >
                      YXL
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:20}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      20 in
                    </td>
                    <td
                      data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:45071}"
                      data-sheets-numberformat="{&quot;1&quot;:5,&quot;2&quot;:&quot;d.m&quot;,&quot;3&quot;:1}"
                      style="text-align: center;"
                      data-mce-fragment="1"
                      class="data-size-chart"
                    >
                      25.5 in
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>
              <div id="gtx-trans" style="position: absolute; left: 536px; top: 157px;">
                <div class="gtx-trans-icon"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>