<div class="modal-size-chart">
    <input id="toggle-modal-size-chart" type="checkbox">
    <label class="overlay-size-chart" for="toggle-modal-size-chart"></label>
    <div class="custom-size-chart">
      <div class="header-modal">
        <h4>Apparels Size Chart</h4>
        <label for="toggle-modal-size-chart" class="js-close">✕</label>
      </div>
      <div class="content-modal" id="content-modal-3D">
        <div id="page-size-chart" class="apparels">
          <div class="wrapper-table">
            <table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" cellpadding="0" dir="ltr">
              <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
              </colgroup>
              <tbody>
                <tr>
                  <td rowspan="2" colspan="1" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Size&quot;}">
                    <div>Size</div>
                  </td>
                  <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Length&quot;}">
                    Length
                  </td>
                  <td rowspan="1" colspan="2"
                    data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Bust (Around)&quot;}">
                    Bust (Around)
                  </td>
                  <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Shoulder&quot;}">
                    Shoulder
                  </td>
                  <td rowspan="1" colspan="2" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Sleeve&quot;}">
                    Sleeve
                  </td>
                </tr>
                <tr>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;inch&quot;}">inch</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;cm&quot;}">cm</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;inch&quot;}">inch</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;cm&quot;}">cm</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;inch&quot;}">inch</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;cm&quot;}">cm</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;inch&quot;}">inch</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;cm&quot;}">cm</td>
                </tr>
                <tr>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;S&quot;}">S</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:44708}"
                    data-sheets-numberformat="{&quot;1&quot;:5,&quot;2&quot;:&quot;d.m&quot;,&quot;3&quot;:1}">
                    27.5
                  </td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:70}">70</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:44}">44</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:112}">112</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:44611}"
                    data-sheets-numberformat="{&quot;1&quot;:5,&quot;2&quot;:&quot;d.m&quot;,&quot;3&quot;:1}">
                    19.2
                  </td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:49}">49</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;25.19&quot;}">25.19</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:64}">64</td>
                </tr>
                <tr>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;M&quot;}">M</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:44590}"
                    data-sheets-numberformat="{&quot;1&quot;:5,&quot;2&quot;:&quot;d.m&quot;,&quot;3&quot;:1}">
                    29.1
                  </td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:74}">74</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;47.2&quot;}">47.2</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:120}">120</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:44793}"
                    data-sheets-numberformat="{&quot;1&quot;:5,&quot;2&quot;:&quot;d.m&quot;,&quot;3&quot;:1}">
                    20.8
                  </td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:53}">53</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;25.98&quot;}">25.98</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:66}">66</td>
                </tr>
                <tr>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;L&quot;}">L</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:44650}"
                    data-sheets-numberformat="{&quot;1&quot;:5,&quot;2&quot;:&quot;d.m&quot;,&quot;3&quot;:1}">
                    30.3
                  </td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:77}">77</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;49.6&quot;}">49.6</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:126}">126</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:44673}"
                    data-sheets-numberformat="{&quot;1&quot;:5,&quot;2&quot;:&quot;dd.mm&quot;,&quot;3&quot;:1}">
                    22.04
                  </td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:56}">56</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;26.37&quot;}">26.37</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:67}">67</td>
                </tr>
                <tr>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;XL&quot;}">XL</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;31.4&quot;}">31.4</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:80}">80</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;51.9&quot;}">51.9</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:132}">132</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;23.22&quot;}">23.22</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:59}">59</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;27.16&quot;}">27.16</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:69}">69</td>
                </tr>
                <tr>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;2XL&quot;}">2XL</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;32.6&quot;}">32.6</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:83}">83</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;55.9&quot;}">55.9</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:142}">142</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;24.40&quot;}"
                    data-sheets-numberformat="{&quot;1&quot;:2,&quot;2&quot;:&quot;#,##0&quot;,&quot;3&quot;:1}">
                    24.40
                  </td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:62}">62</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;28.74&quot;}">28.74</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:73}">73</td>
                </tr>
                <tr>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;3XL&quot;}">3XL</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;33.8&quot;}">33.8</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:86}">86</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;58.2&quot;}">58.2</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:148}">148</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;25.19&quot;}">25.19</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:64}">64</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;29.92&quot;}">29.92</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:76}">76</td>
                </tr>
                <tr>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;4XL&quot;}">4XL</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;34.2&quot;}">34.2</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:87}">87</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;62.2&quot;}">62.2</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:158}">158</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;25.59&quot;}">25.59</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:65}">65</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30.31&quot;}">30.31</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:77}">77</td>
                </tr>
                <tr>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;5XL&quot;}">5XL</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;34.6&quot;}">34.6</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:88}">88</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;66.14&quot;}">66.14</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:168}">168</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;25.98&quot;}">25.98</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:66}">66</td>
                  <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;30.70&quot;}">30.70</td>
                  <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:78}">78</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>