<style>
  .vtl-tb-main-widget__badge-img {
	max-width: 25% !important;
}

.vtl-tb-main-widget {
	display:flex;
  	margin-top: 20px;
}

</style>
<div class="vtl-tb-main-widget">
   
</div>

{% schema %}
  {
    "name": "Trust Badge",
    "settings": []
  }
{% endschema %}