<style>
  .vtl-tb-main-widget__badge-img {
	max-width: 25% !important;
}

.vtl-tb-main-widget {
	display:flex;
  	margin-top: 20px;
}

</style>
<div class="vtl-tb-main-widget">
   <img
    class="vtl-tb-main-widget__badge-img"
    src="https://appsolve.io/assets/vitals/apps/trust/square/247_support/135/1e5186.svg"
    alt="trust-badge"
   />
   <img
    class="vtl-tb-main-widget__badge-img"
    src="{{ '14-days.png' | asset_url }}"
        alt="trust-badge"
        style="padding: 6px;"
   />
   <img
    class="vtl-tb-main-widget__badge-img"
    src="https://appsolve.io/assets/vitals/apps/trust/square/fast_shipping/135/1e5186.svg"
    alt="trust-badge"
   />
   <img
    class="vtl-tb-main-widget__badge-img"
    src="https://appsolve.io/assets/vitals/apps/trust/square/secure_order/135/1e5186.svg"
    alt="trust-badge"
   />
</div>

{% schema %}
  {
    "name": "Trust Badge",
    "settings": []
  }
{% endschema %}