<style>
    .vtl-tb-main-widget__badge-img {
  	max-width: 25% !important;
  }

  .vtl-tb-main-widget {
  	display:flex;
    	margin-top: 20px;
  }
</style>
<div class="vtl-tb-main-widget">
  <img
    class="vtl-tb-main-widget__badge-img"
    src="{{ '247.svg' | asset_url }}"
    alt="trust-badge"
  >
  <img
    class="vtl-tb-main-widget__badge-img"
    src="{{ '14-days.svg' | asset_url }}"
    alt="trust-badge"
    style="padding: 6px;"
  >
  <img
    class="vtl-tb-main-widget__badge-img"
    src="{{ 'fast-ship.svg' | asset_url }}"
    alt="trust-badge"
  >
  <img
    class="vtl-tb-main-widget__badge-img"
    src="{{ 'secure.svg' | asset_url }}"
    alt="trust-badge"
  >
</div>

{% schema %}
{
  "name": "Trust Badge",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": []
}
{% endschema %}
